@font-face {
    font-family: My-Caveat;
    src: url(fonts/Caveat-Medium.ttf);
}
body{
    background-color: #0a0908;
    padding: 0;
    margin: 0;
}
.JSAssignment h1{
    font-family: My-Caveat;
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0rem;
    color: #fff;
}
.firstletter{
    color:#82654b;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h2 a{
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}
h2 a:hover{
    color: #82654b;
}
@media only screen and (max-width:487px){
    .JSAssignment h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:412px) {
    .JSAssignment h1{
        font-size: 2rem;
        padding: 0.3rem 0rem;
    }
    h2{
        font-size: 1.3rem;
    }
}