:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.hl{
    color:var(--base)
}
body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}
.controls {
    margin-bottom: 50px;
}
input {
    width: 100px;
}
@media (max-width: 900px){
    body{
        font-size: 30px;
        font-weight: 70px;
    }
    img{
        width: 80%;
    }
}
@media (max-width: 575px){
    body{
        font-size: 1.8em;
        font-weight: 40px;
    }
    img{
        width: 80%;
    }
}