@font-face {
    font-family: My-Caveat;
    src: url('fonts/Caveat-SemiBold.ttf');
}
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Montserrat:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto:wght@100&display=swap');
 
 *{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;
}
title{
    font-family: My-Caveat;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-bottom:1px solid #82654b;
    background-color: #0a0908;
    height:5rem;
    width:100%;
    position: fixed;
    top:0px;
    z-index: 1;
}
label{
    font-family: My-Caveat;
    font-size: 2.5rem;
    line-height: 5rem;
    padding: 0 50px;
    transition: .5s;
    color:#fff;
}
nav ul{
    float:right;
    margin-right:10px;
}
nav ul li{
    display: inline-block;
    line-height: 5rem;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-size: 1.1rem;
    transition:all .5s;
    padding: 7px 9px;
    color:#fff;
}
.firstletter{
    color:#82654b;
}
.nav-items:hover{
    color:#82654b;
    
}
.checkbtn {
    font-size: 2rem;
    color: #fff;
    float: right;
    line-height: 5rem;
    margin-right:0rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.sectionOne{
    background-color: #0a0908;
    width:100%;
    height:95vh;
    
}
.profile-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    width:100%;
    height:95vh;
    background-color:#0a0908 ;
}
.shortintro h1{
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.shortintro h2{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #fff;
}
.shortintro h1 span .firstletter{
    color: #fff;
    text-transform: capitalize;
}
p{
    line-height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}
.recruitMe-box{
    background-color:#5e503f ;
    border:1px solid #0a0908;
    margin-top: 2em;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    height:3rem;
    width:12rem;
    padding: auto;
}
.recruitMe-box:hover{
    background-color: #a9927d;
    animation-name: pulse;
    animation-duration: 1s;
}
.recruitMe-box a{
    text-decoration: none;
}
.contactLogos{
    background-color: #a9927d;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    border-radius: 4rem;
    height:3.3rem;
    width:27rem;
    cursor: pointer;
}
.contactLogos a i{
    margin:0rem 1.9rem;
    line-height: 3.2rem;
    text-decoration: none;
    list-style: none;
    font-size: 1.7rem;
    color: #0a0908;
}
.contactLogos i:hover{
    color:#82654b;
    animation-name: pulse;
    animation-duration: 1s;
}
.midSecHeader{
    background-color: #1a1a1a;
}
.sectionMidHeader{
    background-color: #1a1a1a;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:12vh;
}
.sectionMidHeader h3{
    font-size: 2rem;
    font-family: My-Caveat;
    color: #fff;
}
.sectionMidHeader h3:hover{
    color:#82654b;
    cursor: pointer;
}
.sectionTwo{
    background-color: #222222;
    width:100%;
    height:100vh;
}
.profile-about{
    background-color: #222222;
    width:100%;
    height:93vh;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}
.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.aboutContent h3{
    margin-top: 1em;
    font-family: My-Caveat;
    font-size: 3rem;
    color: #fff;
}
.aboutContent h4{
    font-family: My-Caveat;
    font-size: 2.2rem;
    color: #82654b;
}
.aboutContent p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.8em;
    font-size: 1.1rem;
    color: #fff;
}
.contactMe-box{
    background-color:#5e503f ;
    border:1px solid #0a0908;
    align-self: flex-start;
    cursor: pointer;
    border-radius: 10px;
    height:3rem;
    width:12rem;
    margin-top: 1em;
    padding: auto;
}
.contactMe-box p{
    margin-top: 0.5em;
}
.contactMe-box a{
    text-decoration: none;
}
.contactMe-box:hover{
    background-color: #a9927d;
    animation-name: pulse;
    animation-duration: 1s;
}
.contactMe-box p{
    text-align: center;
}
.developerImage img{
    width:26rem;
    height: 26rem;
    border-radius: 13rem;
}
.developerImage img:hover{
    animation-name: heartBeat;
    animation-duration: 3s;
}
.skillSection{
    background-color: #1a1a1a;
    width:100%;
    height:16vh;
}
.skills{
    background-color: #1a1a1a;
    height:16vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills img{
    width:6rem;
}
.sectionThree{
    background-color: #0a0908;
    height:auto;
    padding: 2rem;
    width:100%;
}
.myLastWork{
    background-color: #0a0908;
    padding-top: 1rem;
    height: auto;
}
.myLastWork h1{
    font-family: My-Caveat;
    font-size: 3rem;
    text-align: center;
    color:#fff;
}
.myLastWork p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    text-align: center;
    color: #fff;
}
.sectionFive{
    background-color: #0a0908;
    width:100%;
    height:auto;
}
.htmlAssignment{
    background-color: #0a0908;
    height: auto;
    padding-top: 1rem;
}
.htmlAssignment h1{
    font-family: My-Caveat;
    font-size: 3rem;
    text-align: center;
    color: #fff;

}
.htmlAssignmentBox{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #0a0908;
    padding:2rem;
    padding-bottom: 3rem;
    margin: 0px auto;
}
.cardBody{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #1a1a1a;
    animation-name:bounceInUp;
    width:20rem;
}
.cardBody:hover{
    /* animation-name:pulse;
    animation-delay: 1s; */
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.cardBody img{
    height:33vh;
    width: 19rem;
    display: block;
    margin: 0em auto;
}
.crdContent{
    background-color: #1a1a1a;
    height:11vh;
}
.crdContent h5{
    color: #fff;
    text-align: center;
    line-height: 0.2rem;
}
.crdContent p a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.crdContent p a:hover{
    cursor: pointer;
    color:#82654b;
}
.footer{
    background-color:#1a1a1a;
    width:100%;
    margin-top: 0;
    height:auto;
}
.footerheadingPara{
    background-color: #1a1a1a;
    padding: 4rem;
    height:auto;
}
.footerheadingPara h1{
    font-family: My-Caveat;
    font-size: 3rem;
    text-align: center;
    color:#fff;
}
.footerheadingPara p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    text-align: center;
    color: #fff;
}
.footerWorkStart{
    background-color: #1a1a1a;
    height:auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-around;
}
.queries{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.queries p{
    line-height: 1rem;
}
.queriesParaOne1{
    color: #fff;
    font-size: 1rem;
    text-align: left;
}
.queriesParaOne1 a{
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 1rem;
    color: #fff;
}
.queriesParaOne1 a:hover{
    color: #82654b;
}
.queriesParaOne2{
    color: #585144;
    font-size: 0.9rem;
    text-align: left;
    padding-left: 2.3rem;
}
.queriesParaOne3{
    color:#82654b;
    font-size: 1rem;
    text-align: left;
    padding-left: 2.3rem;
}
.queriesTwo{
    padding-top: 2rem;
}
.queriesParaTwo1{
    color: #fff;
    font-size: 1rem;
    text-align: left;
}
.queriesParaTwo1 a{
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 1rem;
    color: #fff;
}
.queriesParaTwo1 a:hover{
    color: #82654b;
}
.queriesParaTwo2{
    color: #585144;
    font-size: 0.9rem;
    text-align: left;
    padding-left: 2rem;
}
.queriesParaTwo3{
    color:#82654b;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
}
.inputBox{
    display: flex;
    flex-direction: column;
}
.inputBox input{
    width:35rem;
    height: 3rem;
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #333;
    box-shadow: #1a1a1a 0px 3px 5px;
    border-radius: 0.5rem;
    outline: none;
    color:#fff;
}
.inputBox textarea{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #333;
    box-shadow: #1a1a1a 0px 3px 5px;
    border-radius: 0.5rem;
    outline: none;
    color: #fff;
}
.sendMessage-box button{
    background-color:#5e503f ;
    border: 1px solid #333;
    box-shadow: #82654b;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2rem;
    height:3rem;
    width:12rem;
    font-size: 1.1rem;
    color: #fff;
    padding: auto;
}
.sendMessage-box button:hover{
    background-color: #a9927d;
    animation-name: pulse;
    animation-duration: 1s;
}
.footerLastPart{
    background-color: #0a0908;
    width:100%;
    height:auto;
    padding: auto;
    margin-top: -40px;
}
.footerLast{
    background-color: #0a0908;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.footerLast p{
    font-family: My-Caveat;
    padding-top: 1.2rem;
    font-size: 1.4rem;
    color: #82654b;
}
.goTOTopBox {
    width:2.4em;
    height:2.4em;
    border-radius: 1.2em;
    position: relative;
    left:15em;
    bottom:5.2rem;
    background-color: #82654b;
}
.goTOTopBox a{
    text-decoration: none;
    color: #0a0908;
}
.goTOTopBox i{
    position: absolute;
    left:0.45em;
    top: 0.3em;
    font-size: 1.5rem;
}
@media only screen and (max-width:992px){ 
    .profile-about{
        padding-top: 0em;
        column-gap: 2em;
    }
    .aboutContent h3{
        margin-top: 2.5em;
        font-size: 2.3em;
   }
   .aboutContent h4{
        font-size: 1.8em;
    }
    .aboutContent p{
        font-size: 1em;
   }
   .developerImage{
        width: 20em;
        height: 20em;
        border-radius: 10em;
        margin-top: 8em;
   }
   .developerImage img{
        width: 100%;
        height: 100%;
    }
    .cardBody{
        width:13.5rem;
    }
    .cardBody img{
        height:23vh;
        width: 12rem;
    }
    .crdContent{
        height:9vh;
    }
    .crdContent h5{
        font-size: 0.8rem;
        line-height: 0rem;
    }
    .crdContent p a{
        font-size: 0.7rem;
    }
    .footerWorkStart{
        background-color: #1a1a1a;
        height:auto;
        padding: 3rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .inputBox input{
        width:42rem;
    }
    .inputBox textarea{
        width: 42rem;   
    }    
}
@media only screen and (max-width:812px) {
    nav{
        width:100%;
        height:4.5rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    label{
        font-size: 2rem;
        line-height:4.5rem;
        padding-left: 30px;
    }
    nav ul li{
        line-height:4.5rem;
    }
    nav ul li a{
        font-size: 0.9rem;
    }
    .sectionTwo{
        height:140vh;
        width: 100%;
    }
    .profile-about{
        width: 100%;
        height: auto;
        padding: 1em;
        padding-top: 0em;
        display: flex;
        align-items: center;
        flex-direction: column;
        column-gap: 0em;
    }
    .aboutContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutContent h3{
        font-size: 2.5rem;
    }
    .aboutContent h4{
        font-size: 1.8rem;
    }
    .aboutContent p{
        text-align: center;
        font-size: 0.9rem;
    }
    .contactMe-box{
        align-self: center;
        cursor: pointer;
        border-radius: 10px;
        height:3.3rem;
        width:12rem;
    }
    .contactMe-box p{
        font-size: 1.2em;
    }
}
@media only screen and (max-width:769px){
    .skillSection{
        height:12vh;
    }
    .skills{
        height:12vh;
    }
    .skills img{
        width:4rem;
    }
    .cardBody{
        width:9.5rem;
    }
    .cardBody img{
        height:18vh;
        width: 8rem;
    }
    .crdContent{
        height:4vh;
    }
    .crdContent h5{
        font-size: 0.5rem;
    }
    .crdContent p a{
     display: none;
    }
    .inputBox{
        width:100%;
    }
    .inputBox input{
        width:100%;
    }
    .inputBox textarea{
        width:100%;
    }
    .profile-about{
        padding-top: 1em;
    }    
}
@media only screen and (max-width:673px) {
    nav{
        width:100%;
        height:4.0rem;
    }
    label{
        line-height:4rem;
        font-size: 1.7rem;
        padding-left: 20px;
    }
    nav ul li{
        line-height:4rem;
    }
    nav ul li a{
        font-size: 0.8rem;
    }
    .sendMessage-box button{
        height:3rem;
        width:10rem;
        font-size: 1.1rem;
    }
}
@media only screen and (max-width:613px) {
    nav{
        width:100%;
    }
    label{
        transition: 0s;
        font-size: 1.8rem;
   }
   nav ul {
        position:fixed;
        width:100%;
        height:100vh;
        top:60px;
        left:-700px;
        transition: all .3s;
        text-align: center;
        background:#a9927d;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    nav ul li{
        display: block;
        margin:40px auto;
    }
    nav ul li a{
        transition: 0s;
        font-size: 0.9rem;
        font-weight: 600;
        color:#000;
   }
    .checkbtn{
        display:block;
        font-size: 1.5rem;
        line-height: 4rem;
    }
    #check:checked ~ ul{
        left:0;
    }
    .profile-about{
        height:100vh;
    }
    .aboutContent{
        margin-top: 0em;
   }
   .aboutContent p{
        font-size: 0.9em;
    }
    .contactMe-box{
        margin-top: 1em;
    }
    .contactMe-box p{
        font-size: 1.2em;
        margin-top: 0.3em;
    }      
}
@media only screen and (max-width:575px){
    .profile-about{
        padding: 1em;
        padding-top: 0em;
    }
    .aboutContent p{
        font-size: 0.9em;
    }
    .contactMe-box{
        height: 2.8rem;
        width: 10rem;
        font-size: 1.1rem;
    }
    .cardBody{
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
        width: 20rem;
        height: 32vh;
    }
    .cardBody img{
        height:23vh;
        width: 19rem;
    }
    .crdContent{
        height:10vh;
    }
    .crdContent h5{
        font-size: 0.8rem;
        line-height: 0rem;
    }
    .crdContent p a{
        display: block;
        font-size: 0.7rem;
    }
    .footerWorkStart{
        width: 100%;
    }
}
@media only screen and (max-width:500px){
    .sectionOne{
        width:100%;
        height:80vh; 
    }
    .profile-home{
        justify-content: center;
        margin-top: 3em;
        width:100%;
        height:70vh;
    }
    .recruitMe-box{
        border-radius: 10px;
        height:2.5rem;
        width:10rem;
        margin-top: 0em;
    }
    .recruitMe-box p{
        font-size: 1em;
        margin-top: -0.3em;
    } 
    .contactLogos{
        margin-top: 2em;
    }
    .developerImage img{
        width: 20em;
        height: 20em;
        border-radius: 10em;
    }
    .shortintro h1{
        font-size: 2.5rem;
    }
    .shortintro h2{
        font-size: 2rem;
    }
    .contactLogos{
        height:3.3rem;
        width:22rem;
    }
    .contactLogos a i{
        font-size: 1.3rem;
    }
    .sectionTwo{
        height:140vh;
    }
    .aboutContent p{
        font-size: 0.8em;
    }
    .contactMe-box{
        border-radius: 10px;
        height:2.5rem;
        width:10rem;
        margin-top: 1em;
    }
    .contactMe-box p{
        font-size: 0.9em;
        margin-top: 0.2em;
    } 
    .sendMessage-box button{
        border-radius: 10px;
        height:2.5rem;
        width:10rem;    
    }
    .footerWorkStart{
        width: 100%;
    }
}
@media only screen and (max-width:412px) {
    .developerImage img{
        width: 18em;
        height: 18em;
        border-radius: 9em;
    }
    .footerWorkStart{
        width: 100%;
    }
   .queriesParaOne3{
        font-size: 0.9rem;
    }
    .footerLast p{
        padding: 1rem;
        font-size: 1.1rem;
    }
    .footerLastPart{
        height:10vh;
    }
    .footerLast{
        height:10vh;
    }
    .footerLast p{
        margin: 0px auto;
    }
}
@media only screen and (max-width:377px){
    .shortintro h1{
        font-size: 2rem;
    }
    .shortintro h2{
        font-size: 1.5rem;
    }
    .contactLogos{
        height:2.5rem;
        width:19rem;   
    }
    .contactLogos a i{
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    p{
        line-height: 2rem;
        font-size: 1rem;
    }
    .recruitMe-box p{
        font-size: 1em;
        margin-top: 0.2em;
    } 
    .responsiveRecruit{
        margin-top: 0.18rem;
    }
    .contactMe-box p{
        margin-top: 0.18rem;
    }
    .sectionTwo{
        height:auto;
    }
    .profile-about{
        height:auto;
    }
    .sectionThree{
        height:auto;
    }
    .sectionFive{
        height:auto;
    }
    .htmlAssignment h1{
        font-size: 2.3rem;
    }
}
@media only screen and (max-width:360px) {
    .checkbtn{
        overflow-x: hidden;
        font-size: 1.4rem;
        margin-right: 0px;
        line-height: 4rem;
    }
    nav ul {
        position:fixed;
        width:100%;
        height:100vh;
        top:64px;
        left:-360px;
        transition:all .3s;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    nav ul li{
        display: block;
        margin:35px auto;
    }   
    nav ul li a{
        text-align: center;
    }
    .shortintro h1{
        font-size: 2rem;
    }
    .shortintro h2{
        font-size: 1.5rem;
    }
    .sectionOne{
        width:100%;
        height:75vh; 
    }
    .profile-home{
        margin-top: 4em;
        width:100%;
        height:70vh;
    }
    .recruitMe-box p{
        font-size: 0.9em;
        margin-top: 0.1em;
    }
    .contactMe-box p{
        font-size: 0.9em;
        margin-top: 0.25em;
    }
    .contactLogos{
        margin-top: 2em;
    }
    .sectionMidHeader h3{
        font-size: 1.5rem;
    }
    .sectionTwo{
        height:auto;
    }
    .profile-about{
        height:auto;
    }
    .developerImage img{
        padding-top: 0rem;
    }
    .allWebImages{
        width:18rem;
    }    
    .cardBody{
        margin-top: 3rem;
        width: 18rem;
        height: 32vh;
    }
    .cardBody img{
        height:23vh;
        width: 17rem;
    }
    .footerheadingPara h1{
        font-size: 2.5rem;
    }
    .footerheadingPara p{
        font-size:0.91rem;
    }
    .inputBox{
        width: 20rem;
    }
    .inputBox input{
        width:100%;
    }
    .inputBox textarea{
        width: 100%;   
    }    
    
    .htmlAssignmentBox{
        padding-top: 0rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media only screen and (max-width:338px) {
    .inputBox input{
        width:18rem;
        height:2.5rem
    }
    .inputBox textarea{
        width: 18rem;   
    }    
}
@media only screen and (max-width:280px){
    .contactLogos{
        border-radius: 4rem;
        height:2.4rem;
        width:15rem;
    }
    .contactLogos a i{
        margin:0rem 1rem;
        padding: 0rem;
        font-size: 1.4rem;
    }
    .developerImage img{
        width:14rem;
        height: 14rem;
        border-radius: 7rem;
    }
    .allWebImages{
        width:12rem;
        height:20vh;
    }
    .sectionFive{
        height:auto;
    }
    .htmlAssignmentBox{
        padding-bottom: 3rem;
        height:auto;
    }
    .htmlAssignment h1{
        font-size: 1.6rem;
        padding-top: 0rem;
    }
    .cardBody{
        margin-top: 2rem;
        width: 14rem;
        height: 25vh;
    }
    .cardBody img{
        height:23vh;
        width: 13rem;
    }
    .crdContent{
        height:4vh;
    }
    .crdContent h5{
        font-size: 0.5rem;
    }
    .crdContent p a{
        display: none;
    }
    .footerheadingPara h1{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    .footerheadingPara p{
        font-size:0.8rem;
    }
    .footerWorkStart{
        width: 100%;
    }
    .inputBox input{
        width:14rem;
        height: 2rem;
    }
    .inputBox textarea{
        width: 14rem;
    }
    .queriesParaOne3{
        font-size: 0.9rem;
    }
    .sendMessage-box button{
        height:2.5rem;
        width:14rem;
    }
    .footerLastPart{
        height: auto;
    }
    .footerLast{
        height:auto
    }
    .footerLast p{
        padding-top: 1.5rem;
        font-size: 0.8rem;
    }
    .goTOTopBox{
        display: none;
    }
}

