*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box-bg{
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    width: 100%;
    padding:0.5em  ;
    display: flex;
    align-items: center;
}
.developer{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #ebebeb;
    color: #000;
    border-radius: 0.3em;
    width: 22em;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
}
.myCard{
    width: 22em;
    margin: 0px auto;
    margin-top: 0.3em;
    font-family: sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-top{
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    height: 15vh;
}
.input-section{
    text-align: right;
    background-color: #ebebeb;
}
.input-section input{
    text-align: right;
    border: none;
    outline: none;
    width: 100%;
    color: #000;
    padding: 0.1em 0.2em;
}
.btn-section{
    background-color: #ebebeb;
    width:100%;
    padding: 0.1em 0.15em;
    text-align: center;
    outline: none;
}
.calculator-btn{
    background-color: #f3f6eeb3;
    font-weight: bolder;
    width:24%;
    padding: 1.17em 0.5em;
    border: none;
}
.calculator-btn:hover{
    background-color: #ebebeb;
}
.calculator-btn-fff{
    background-color: #fff;
    font-weight: bolder;
    font-size: 1.1em;
    width:24%;
    padding: 1em 0.5em;
    border: none;
}
.calculator-btn-fff:hover{
    background-color: #ebebeb;
}
footer{
    width: 100%;
    text-align: center;
    padding: 1em;
    color: #ebebeb;
    background-color: #000;
}
footer p{
    margin: 0px;
}

@media only screen and (max-width:470px){
    footer{
        width:100%;
    }
    footer p{
        font-size: 0.7rem;
    }
    .main-box-bg{
        width: 100%;
        height: 100vh;
        margin: auto;
    }
    .developer{
        width: 18em;
        margin: auto;
        margin-top: 0em;
        padding: 0.5em;
    }
    .myCard{
        width: 18em;
        margin: 0px auto;
        margin-top: 0.3em;
    }
    .card-top{
        height: 10vh;
    }
    .btn-section{
        width:100%;
}
    .calculator-btn{
        width:23%;
    }
    .calculator-btn-fff{
        width:23%;
    }
}   