body{
    background: color #121212;
}
.a {
    background-color: rgb(209 139 71);
}
.b {
    background-color: rgb(254,205,165);
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center{
    text-align: center;
}