@font-face {
    font-family: My font;
    src: url(font/Roboto-BlackItalic.ttf);
}

p {
    font-family: My font;
    text-shadow: 1px 2px 2px black;
}

body {
    background: rgb(2,0,36);
    background: rgb(238,181,174);
    background: linear-gradient(61deg, rgba(238,181,174,1) 0%, rgba(251,158,7,0.9220063025210083) 100%);
}

.box {
    background-color: #fff;
    text-transform: capitalize;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 25px;
    line-height: 50px;
    word-spacing: 8px;
    color:brown;
    text-align: justify;
    width: 500px;
    height: 350px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    min-width: 200px;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;   
}
.previous-button{
    text-align: center;
    margin-left: 400px;
    color:brown;
    font-weight: bold;
    font-family: sans-serif;
    width: 100px;
    height:30px;
    border-radius: 10px;
    border-style: double;
}
.first::first-letter{
    font-size: 50px;
}

.second.second::first-l{
    font-size: 50px;
}
.third::first-letter{
    font-size: 40px;
}
.fourth::first-letter{
    font-size: 30px;
}